page-contrato {
    .contrato-app {
        padding: 15px;
    }
    .negrito {
        font-weight: bold;
    }
    button.button-aceitar {
        width: 100px;
        background: #7362a8 !important;
        color: #fff;
        float: right;
        margin-bottom: 10px;
    }
}