page-medidas {
    button.button-registro {
        background: #f0f0f0;
        height: 50px;
        margin: 20px 30px 10px 30px;
        width: 80%;
        color: #8b879e;
        text-transform: capitalize;
        font-weight: 100;
        font-size: 15px;
    }
    button.button-historico {
        background: #f0f0f0;
        height: 50px;
        margin: 0px 30px 0px 30px;
        width: 80%;
        color: #8b879e;
        text-transform: capitalize;
        font-weight: 100;
        font-size: 15px;
    }
    button.button-registro img.icone-menu,
    button.button-historico img.icone-menu {
        top: 0;
        border-right: 1px solid #8b879e;
        margin-right: 15px;
        padding-right: 15px !important;
        width: 23%;
    }
}